#order-details{
    margin-top:  200px;
    text-align: center;
    // padding: 70px;

   .css-11xur9t-MuiPaper-root-MuiTableContainer-root{
    width: 50%;
    display: block;
    margin: auto;
   }
}